In [1]:
import pandas as pd
datos = pd.read_csv("C:/Users/Jaime Paredes/Desktop/PythonProject/Proyecto IA/Datos/Altura,Peso.csv")

In [2]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Altura  10 non-null     object
 1   Peso    10 non-null     object
dtypes: object(2)
memory usage: 292.0+ bytes

In [3]:
datos.head()

  Altura  Peso
0  152cm  58kg
1  178cm  65kg
2  188cm  87kg
3  190cm  87kg
4  193cm  89kg